<div class="row">
  <div class="col-md-6">
    <ul>
      {% for item in entry.contents limit: (entry.contents.size | divided_by: 2) %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      {% for item in entry.contents offset: (entry.contents.size | divided_by: 2) %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
